@charset "UTF-8";
table{
	border-collapse: collapse;
	border: 2px solid black;
	border-radius : 10px;
	width: 100%;
	border-left: none;
	border-right: none;
	text-align: center;
}
tr{
	border-bottom: 2px solid black;
}
th,td{
	border-left: 1px solid rgb(200, 200, 200);
	border-right: 1px solid rgb(200, 200, 200);
}
td>a{
	color:blue;
}

#type{
	height: 50px;
	font-size: 2em;
	font-weight: 700;
}
#miniBoard_content{
	height: 150px;
}
#miniBoard_content>table{
	height: 100%;
}
#board tr{
	height: 50px;
}